<div class="password-input-wrap">
    <input
        type="password"
        id="{{ id }}"
        name="{{ name }}"
        {% if value is defined %}value="{{ value }}"{% endif %}
        {% if required|default(false) %}required{% endif %}
        autocomplete="{{ autocomplete|default('current-password') }}"
        class="input-field input-with-icon-right{% if error is defined %} input-error{% endif %}{% if class is defined %} {{ class }}{% endif %}"
        {% if placeholder is defined %}placeholder="{{ placeholder }}"{% endif %}
    >
    <button
        type="button"
        class="password-toggle-btn"
        data-target="{{ id }}"
        aria-label="Tampilkan password"
        aria-pressed="false"
    >
        {% include 'components/ui/icon.twig' with { name: 'ri-eye-line', class: 'password-toggle-icon password-toggle-show', size: 'sm' } %}
        {% include 'components/ui/icon.twig' with { name: 'ri-eye-off-line', class: 'password-toggle-icon password-toggle-hide hidden', size: 'sm' } %}
    </button>
</div>
{% if error %}
<p class="form-error">{{ error }}</p>
{% endif %}
